.trucks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  margin: 20px auto;
  animation: trucks-appear 1s ease-out forwards;
}

.trucks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes trucks-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1000px) {
  .trucks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
